.col-xl-5 {
  form {
    width: 400px;
    height: 505px;
    background-color: $wp--preset--color--white;
    border-radius: 10px;
    padding: 25px 25px;
    margin-bottom: 60px;
    margin-left: 1rem;
    box-shadow: -10px 10px 27px rgba(0, 0, 0, 0.1);
    h3 {
      @include styleText(39px, $fw-3, $wp--preset--color--black);
      margin-bottom: 3rem;
      padding-top: $pd-1;
    }
    .contact__row {
      margin-bottom: $mg-2;
      &--name {
        position: relative;
        width: 50%;
        span {
          position: absolute;
          top: 3px;
          left: 10px;
          i {
            color: $color-primary;
          }
        }
      }
      &--email {
        @extend .contact__row--name;
      }
    }
    .contact__language {
      @extend .contact__row;
      @extend .contact__row--name;
      width: 100%;
    }
    .contact__confirm {
      @extend .contact__language;
    }
    input {
      padding: 0 2rem;
      font-size: 11px;
      border-radius: 1rem;
      outline: none;
    }
    select {
      @extend input;
    }
    textarea {
      @extend input;
      padding: 4px 2rem;
      margin-bottom: 3rem;
    }
    .btn-send {
      width: 150px;
      height: 50px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

@include responsive("large-down") {
  form {
    width: 100% !important;
  }
}
@include responsive("small-down") {
  form {
    margin-left: 0 !important;
  }
}
