* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.form-control:focus {
  border-color: $wp--preset--color--cyan-bluish-gray;
  box-shadow: 0 0 5px 0 rgba(118, 118, 118, 0.25);
}
