@mixin styleText($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}
@mixin styleButton($width, $bg, $pd-y, $pd-x, $radius, $ls) {
  width: $width;
  background-color: $bg;
  padding: $pd-y $pd-x;
  border-radius: $radius;
  letter-spacing: $ls;
}
@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "`{$screen}` isn't in breakpoint";
  }
}
